.container{
    width: 100%;
    height: 0;
    margin-bottom: 10px;
    background: linear-gradient(to right, #00ffe0a6,#2050ffb0);
    border-radius: 15px;
    z-index: 10;
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    transition: .5s;
}
.span{
    font-size: 1.5em;
    font-family: 'Bicubik';
    margin-left: 10px;
    color: #dfdddd;
}
.span::after{
    content: '';
    background: #dfdddd;
    width: 100px;
    height: 3px;
    display: block;
    margin-left: 10px;
}

.wrapperApps{
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.anchor{
    display: contents;
}
.card{
    cursor: pointer;
    width: 100%;
    position: relative;
}
.card:hover{
    transform: scale(1.03);
}
.image{
    width: 100%;
    border-radius: 15px;
    filter: brightness(0.4);
}

.titleApp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #dfdddd;
    font-size: 1.5em;
    font-family: 'Bicubik';
    text-align: center;
}

.active{
    height: 38vh;
    padding: 10px 10px 20px 10px;

}

@media screen and (min-width: 768px) {
    .container{
        width: 50%;
    }
    .wrapperApps{
        
        justify-content: space-around;
    }
    .card{
        width: 45%;
    }
}