*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
display: none;
}

body{
  background-color: #1c1c1c;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

h1, h2, h3{
  font-family: 'Bicubik';
  text-transform: uppercase;
  color: #dfdddd;
  letter-spacing: 2px;
}

p{
  color: #dfdddd;
  font-family: 'Roboto';
  font-style: italic;
}

@font-face {
  font-family: 'Bicubik';
  src: url("../public/fonts/bicubik-webfont.eot");
  src:
      url('../public/fonts/bicubik-webfont.woff2') format('woff2'),
      url('../public/fonts/bicubik-webfont.svg') format('svg'),
      url('../public/fonts/bicubik-webfont.woff') format('woff');

}