*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
display: none;
}

body{
  background-color: #1c1c1c;
}

h1, h2, h3{
  font-family: 'Bicubik';
  text-transform: uppercase;
  color: #dfdddd;
}

@font-face {
  font-family: 'Bicubik';
  src: url("../public/fonts/bicubik-webfont.eot");
  src:
      url('../public/fonts/bicubik-webfont.woff2') format('woff2'),
      url('../public/fonts/bicubik-webfont.svg') format('svg'),
      url('../public/fonts/bicubik-webfont.woff') format('woff');

}