.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.backgroundWrapper{
    width: 100%;
    height: 100vh;
    background-color: gray;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

}

.about{
    width: 100%;
    height: 50vh;
    padding: 30px 10px;
}

.title{
    color: #3cff91d1;
    display: flex;
    align-items: center;
}


.container{}

.description p{
    width: 100%;
    margin: 20px 0;
    font-size: 1.3em;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .about{
        width: 80%;
        padding: 80px 10px;
    }
}

